<h1> Search for Student </h1>
<%= form_tag students_search_path, method: "post" do %>
<label> Student name: </label>
 <%= text_field_tag :student_name %>
 <%= submit_tag :Search %>
 <% end %>
 <%= @students.search.map do |student| %>
<%= render partial: 'student', locals: {student: @student} %>
<% end %>
